@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfcfc;
  /* aside and border colors and description */
  --aside-color: #e0e5e9;
  /* text active color  */
  --active-text: #27272a;
  /* icons color and chegirmadagi narxlar uchun  */
  --icons-colors: #f97316;
  /* active button or disabled button colors  */
  --active-button: #b2c9c5;
  /* button colors  */
  --button-colors: #45828b;
  /* text colors  */
  --black: #010409;
  /* red color  */
  --red: red;
  --red-hover: #e91919;
  --box-shadow: #f0f0f1;
  --shadow: rgb(191, 187, 172);
  --bl: #000;
  

}

.dark {
  --background: #03011c;
  /* asosiy background (yumshoq qora) */

  /* aside, border va description */
  --aside-color: #ffffff;
  /* sidebar uchun biroz ochroq to‘q kulrang */

  /* active text */
  /* --active-text: ; */
  --active-text: #ffffff;
  /* chiroyli ko‘k (hover + aktiv text uchun) */

  /* iconlar va chegirma narxlar */
  --icons-colors: #0a961d;
  /* toza yashil */

  /* active button yoki disabled button */
  --active-button: #2258af;
  /* to‘q kulrang tugma (inactive holatda) */

  /* button ranglari */
  --button-colors: #2563eb;
  /* chiroyli moviy (asosiy tugmalar uchun) */

  /* oddiy text */
  --black: #6b698b;
  /* oqga yaqin, lekin toza oq emas (ko‘zga yumshoq) */

  /* red */
  --red: #ff0000;
  /* Tailwind red-500 — dark modeda yaxshi ko‘rinadi */
  --box-shadow: #000000;
  --shadow: rgba(60, 82, 63, 0.156);
  --bl: #fff;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
select {
  -webkit-appearance: none;
}
